<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us and JeopLit</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css"> 
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
  rel="stylesheet"  type='text/css'>
<body class="bp-starry-gradient">
  <nav class="navbar navbar-expand-lg navbar-dark text-light" style="background-image: linear-gradient(to right, #051834, #051834);">
    <div class="container-fluid">
      <a class="navbar-brand" href="home">JeopLit</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="home">Home</a>
          <a class="nav-link active" href="about">About</a>
          <a class="nav-link" href="contact">Contact</a>
          <% if (locals.user) { %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Profile
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="logout">Logout</a>
              </div>
            </li>
          <% } else { %>
            <a class="nav-link" href="login">Login</a>
            <a class="nav-link" href="signup">Sign up</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>

      <div class="text-light p-2 mt-3 container mb-3" style="width: 100%; min-height: 300px; background-color: #051834;">
        <h1 class="text-center mb-3" style="color:#a3caff">Mike, Ryan, Jennifer and JeoPlit</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia earum beatae incidunt libero. Pariatur facilis modi, deleniti harum, cupiditate enim id dolores ducimus facere vel neque beatae, tempora aliquid non atque numquam! Doloremque accusantium pariatur molestiae praesentium excepturi beatae corrupti quasi ea minus doloribus consectetur cum nesciunt unde amet iusto dolorem, quae nulla! Incidunt expedita at laborum illo perspiciatis assumenda labore? Necessitatibus pariatur beatae dolores molestias sit harum animi a est fuga nam. Doloribus unde, rem necessitatibus, dignissimos, mollitia tenetur obcaecati ea vitae ducimus modi dolorum sit commodi in ad ipsa nostrum hic enim minima dolores laudantium. Cumque esse iure ab, earum perspiciatis error sit omnis repellendus a voluptatem eveniet quibusdam libero laboriosam, nihil distinctio exercitationem. Inventore ea accusantium voluptates itaque exercitationem suscipit fuga, ducimus nam nulla adipisci expedita nihil temporibus, tempora fugit officia at obcaecati quos molestiae? Facilis, porro maxime incidunt nostrum temporibus architecto dolorum explicabo officiis nobis velit inventore tempore sunt eaque voluptate non quam corporis nisi modi atque praesentium neque commodi recusandae enim hic. Ipsam, eius cupiditate hic esse illo dolores quod aut iste sunt assumenda laboriosam ad delectus debitis ducimus. Ducimus repellendus fugiat id error ea tempore rem perspiciatis magni dolores vitae est sapiente porro ipsam quas fugit repellat totam quasi, cum minus nostrum laboriosam voluptas. Modi error unde repellat eius. Natus veritatis, eius iure ex at ab perspiciatis repellendus itaque iusto deserunt officia doloribus ad maiores expedita, incidunt consequatur? Repudiandae quas architecto incidunt voluptatibus alias id, ipsum cupiditate pariatur rerum consequatur ipsam voluptatum commodi perferendis?</p>
      </div>

      <div class="container d-flex justify-content-between flex-wrap mb-5">
        <div style="width: 350px; min-height:300px; background-color: black; border-radius: 15px;"></div>
        <div style="width: 70%; min-height: 300px; background-color: #42536c; border-radius: 15px" class="p-3 text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto repellendus autem ea dolore? Ipsa ut minima unde, animi harum repellat saepe. Nulla omnis magnam dignissimos natus dolores delectus non in inventore voluptate vitae maxime ipsum, quis quisquam possimus. Eos vel optio cupiditate nemo est error fuga, saepe, architecto tempora sint enim nisi quidem inventore rem voluptas vitae provident facilis recusandae suscipit voluptates quos. Eaque corrupti iure ducimus numquam id laborum excepturi natus cum. Cumque quae quod nihil temporibus deserunt, nostrum, dolores aliquid cum eveniet enim tenetur veritatis ipsum tempora sed excepturi pariatur iste, modi ullam quidem. Cupiditate itaque fugiat suscipit, nihil, delectus dolore aut illo dolor impedit inventore laudantium eum optio! Beatae officiis enim facere possimus facilis fugit dolor dolores autem earum debitis! Fugit cumque quidem inventore, debitis, numquam totam delectus, soluta obcaecati dolore adipisci eius beatae at facere nihil repudiandae corporis laboriosam laborum hic dignissimos sunt excepturi dolorem? Corporis?</div>
      </div>

      <div class="container d-flex justify-content-between flex-wrap mb-5">
        <div style="width: 70%; min-height: 300px; background-color: #42536c; border-radius: 15px" class="p-3 text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto repellendus autem ea dolore? Ipsa ut minima unde, animi harum repellat saepe. Nulla omnis magnam dignissimos natus dolores delectus non in inventore voluptate vitae maxime ipsum, quis quisquam possimus. Eos vel optio cupiditate nemo est error fuga, saepe, architecto tempora sint enim nisi quidem inventore rem voluptas vitae provident facilis recusandae suscipit voluptates quos. Eaque corrupti iure ducimus numquam id laborum excepturi natus cum. Cumque quae quod nihil temporibus deserunt, nostrum, dolores aliquid cum eveniet enim tenetur veritatis ipsum tempora sed excepturi pariatur iste, modi ullam quidem. Cupiditate itaque fugiat suscipit, nihil, delectus dolore aut illo dolor impedit inventore laudantium eum optio! Beatae officiis enim facere possimus facilis fugit dolor dolores autem earum debitis! Fugit cumque quidem inventore, debitis, numquam totam delectus, soluta obcaecati dolore adipisci eius beatae at facere nihil repudiandae corporis laboriosam laborum hic dignissimos sunt excepturi dolorem? Corporis?</div>
        <div style="width: 350px; min-height:300px; background-color: black; border-radius: 15px;"></div>
      </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="home.js"></script>
</body>
</html>
