<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us and JeopLit</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css"> 
    <link rel="stylesheet" href="/css/about.css">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
  rel="stylesheet"  type='text/css'>
<body class="bp-starry-gradient">
  <nav class="navbar navbar-expand-lg navbar-dark text-light fixed-top bp-gradient">
    <div class="container-fluid">
      <a class="navbar-brand" href="home">JeoPlit</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="home">Home</a>
          <a class="nav-link active" href="about">About</a>
          <a class="nav-link" href="contact">Contact</a>
          <% if (locals.user) { %>
            <li class="nav-item dropdown">
              <span class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
              </span>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="logout">Logout</a>
                <a class="dropdown-item" href="profile">Profile</a>
              </div>
            </li>
          <% } else { %>
            <a class="nav-link" href="login">Login</a>
            <a class="nav-link" href="signup">Sign up</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>

      <div class="text-light p-2 mt-3 container mb-2 about-intro" >
        <h1 class="text-center mb-3 text-light-blue">Mike, Ryan, and JeoPlit</h1>
        <h2 class="text-light-blue">Jeoplit</h2>
        <p>Jeoplit is a web application that combines the studying elements of Quizlet and the game functionality of Jeopardy to provide students another venue of studying.
          We believe that when you are enjoying what you are studying, it better reinforces the topics and concepts learned. It was developed by Mike Panuelos and Ryan Knobel for their Programming Languages course part two presentation that highlights the strengths and capabalities of JavaScript.
          With this project, we intended to highlight JavaScript's ability to develop both for the server and client side. We also wanted to highlight JavaScript's
          concurrent abilities with our web scraping, done with the use of Puppeteer, dynamic content creation with EJS files and database queries, event handling and event-driven and object-oriented programming, and destructuring.
          The Application was developed with the programming languages HTML, CSS, and JavaScript, and uses the following tools and frameworks: Node.JS, Express.JS, and Bootstrap. 
          The initial version of the web application entails the following functionality that we seek to improve: data scraping for content, a log in and sign up system, and a contact form page.
          We hope you join and continue with us on this journey of improving Jeoplit by contacting us if any problems or issues or by contributing to the <a href="https://github.com/snipergz/jeoplit.git">source code</a>.
          Let's all keep learning well, working hard, and studying smart and we hope that Jeoplit assists you in doing so. 
        </p>
      </div>

      <div class="container mb-3">
        <h2 class="text-light-blue">Mike and Ryan</h2>
      </div>
      <div class="container d-flex justify-content-between flex-wrap mb-5 gap-2">
        <div class="headshot-container mike" role="img" aria-label="Mike Panuelos wearing his UTRGV shirt standing on top of a mountain"></div>
        <div class="p-3 text-light person-bio">
          <h4>→ About me</h4>
          <p>I am a hard worker who loves to learn, never quit, and prides myself in giving my all to whatever task is before me. I love God, basketball, and my family, and I aspire to become a developer that uses technology as a way to serve and improve lives. I have experience through work, projects, and an internship in fullstack, frontend, and slight performance tuning. Connect with me on <a href="https://www.linkedin.com/in/mikepanuelos/">Linkedin</a> and you can find my resume and other future projects on my <a href="https://github.com/snipergz">Github Account</a></p>
          <h4>→ Skills</h4>
          <ul>
            <li>🧐 Learning with a growth mindset</li>
            <li>🤣 Making people laugh</li>
            <li>🤔 Leading under pressure</li>
            <li>⛹️‍♂️ Leaving it all on the court</li>
            <li>😤 Triumphing against obstacles</li>
            <li>😨 Unafraid to take the road less taken</li>
          </ul>
        </div>
      </div>
      <div class="container d-flex justify-content-between flex-wrap mb-5 gap-2">
        <div class="p-3 text-light person-bio-flip">
          Hey, it's me: Ryan. This is the first major project I have taken part of, which is kinda cool I guess. Random facts about me: 
          <ul>
            <li>Love guitar (Casper Esmann my fav) </li>
            <li>Love traveling to new places </li>
            <li>Love to draw (but also suck at it) </li>
            <li>Soccer is my favorite sport </li>
            <li>Messi >= Ronaldo</li>
            <li>Learned to program in high school robotics club (Java)</li>
            <li>... but JavaScript is life </li>
            <li>Pizza Hut has the best pizza</li>
          </ul>  
          I also play video games for fun, although I am kinda outdated and still play on the Wii and PS2. Does that make me the best Mario Kart Wii racer and Garage Band guitarist?
          Anyways, here is my <a href="https://github.com/rknobel1">github</a> account for those that are interested.
        </div>
        <div class="headshot-container ryan" role="img" aria-label="Ryan Knobel wearing a red Sharyland Leatherman"></div>
      </div>
      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
