<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JeopLit</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="home.css"> 
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
  rel="stylesheet"  type='text/css'>
<body class="bp-gradient">
    <nav class="navbar navbar-expand-lg navbar-dark bp-gradient text-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">JeopLit</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page">Home</a>
              <a class="nav-link" href="about">About</a>
              <a class="nav-link" href="contact">Contact</a>
              <% if (locals.user) { %>
                <a class="nav-link">Welcome, <%= user.username %>!</a>
                <a class="nav-link" href="logout">Logout</a>
              <% } else { %>
                <a class="nav-link" href="login">Login</a>
                <a class="nav-link" href="signup">Sign up</a>
              <% } %>
              
              <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
            </div>
          </div>
        </div>
      </nav>
      <div class="home-cta text-light p-2">
            <h1>Let's Start Learning Smartly!</h1>
            <h3>👇Paste a Quizlet Link Below👇</h3>
            <form method="POST" action="/play">
              <input type="text" placeholder="Quizlet Link: " id="link-box" class="link-box" name = "quizletLink"></input>
            </form>
            <button id="play-button">Play</button>
            <img id="logo" src="/images/jeoplit-logo-v2.png">

      </div>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <script src="home.js"></script>
</body>
</html>
