<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="home.css"> 
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
  rel="stylesheet"  type='text/css'>
<body class="bp-gradient">
    <nav class="navbar navbar-expand-lg navbar-dark bp-gradient text-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">JeopLit</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="home">Home</a>
              <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
            </div>
          </div>
        </div>
      </nav>
      <div class="home-cta text-light p-2">
            <h1>Sign Up Page</h1>
            <div class="card center-box" style="width: 36rem;">
              <div class="card-body">
                <form method="POST" action="/signup">
                  <div class="form-group">
                    <label for="username" style="color: black">Username</label>
                    <input type="textbox" name="username" class="form-control" placeholder="Username">
                  </div>
                  <div class="form-group">
                    <label for="password" style="color: black">Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Password"> 
                  </div>
                  <% if (locals.errors) { %>
                    <div class="alert-danger rounded p-3 mt-3 mb-2">
                      <ul>
                        <% for (let error of errors) { %>
                        <li><%= error %></li>
                        <% } %>
                      </ul>
                    </div>
                    <% } %>
                  <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>
            <img id="logo" src="/images/jeoplit-logo-v2.png">

      </div>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <script src="login.js"></script>
</body>
</html>
