.hidden {
    visibility: hidden;
}
.text-light-blue{
  color:#a3caff;
}
@media screen and (max-width:768px) {
  #qaTable{
    display: none;
  }
  #qaPhone{
    display: block;
  }
}
@media screen and (min-width: 769px) {
  #qaPhone{
    display: none
  }
}
@media screen and (min-width: 768px) {
  section { padding-top: 100px; }
}
.table-dark{
  border-color: #3f597e!important;
}
.card{
  border: 1px solid #2e5ea4!important;
  min-height: 200px;
}

.bp-gradient {
    background-image: linear-gradient(to right, #00003d, #1c006e);
  }
  .bp-starry-gradient{
  background-color: #061834;
  background-image: radial-gradient(white,rgb(255,255,255,.2) 1px, transparent 0px),
                    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 0px),
                    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 0px), radial-gradient(rgba(255,255,255,.4),
                    rgba(255,255,255,.1) 2px, transparent 2px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  }
  .color-lavender {
    color: #8170f4;
  }
  
  body {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
  }
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #27427c;
    color: white;
    text-align: center;
    height: 2em;
  }
  .home-cta {
    position: absolute;
    top: 15rem;
    text-align: center;
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    .home-cta {
      top: 11rem;
    }
  }
  .link-box {
    width: 500px;
    height: 35px;
    background-color: #071834;
    margin: auto;
  }
  @media screen and (max-width: 500px) {
    .link-box {
      width: 100%;
    }
  }
  input {
    color: white;
    border: 1px solid #2a00a9;
  }
  button {
    height: 35px;
  }
  #logo {
    display: block;
    margin: auto;
  }
  
  .center-box {
    margin: auto;
  }
  

.test-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  text-align: left;
  margin-left: 10%; 
  margin-right: 10%;
} 

.test-card {
  border: solid; 
  border-color: black;
  background-color: white;
  margin-top: 3%; 
  padding-left: 1.5%;
  padding-right: 1.5%;
  color: black;

  position: relative;
  width: 80%;
}

.test-card-row {
  display: flex; 
  flex-direction: row;
}

.test-card-head {
  min-width: 100px;
  font-size: 20px;
  text-align: right;
}

.test-card-content {
  padding-left: 1.5%;
  font-size: 20px;
}

.test-delete-button {
  align-self: center;
  width: 10%;
}

