.bp-gradient {
  background-image: linear-gradient(to right, #00003d, #1c006e);
}
.bp-starry-gradient{
background-color: #061834;
background-image: radial-gradient(white,rgb(255,255,255,.2) 1px, transparent 0px),
                  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 0px),
                  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 0px), radial-gradient(rgba(255,255,255,.4),
                  rgba(255,255,255,.1) 2px, transparent 2px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}
.color-lavender {
  color: #8170f4;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #27427c;
  color: white;
  text-align: center;
  height: 2em;
}
.home-cta {
  position: absolute;
  top: 15rem;
  text-align: center;
  width: 100%;
  z-index: -1;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.spin::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 15px #cfd0d1;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  content: "";
  height: 150px;
  width: 150px;
  position: absolute;
  top: -17%;
  /* left: 10%; */
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}

@media screen and (max-width: 768px) {
  .home-cta {
    top: 11rem;
  }
}
.link-box {
  width: 500px;
  height: 35px;
  background-color: #071834;
  margin: auto;
}
@media screen and (max-width: 500px) {
  .link-box {
    width: 100%;
  }
}
input {
  color: white;
  border: 1px solid #2a00a9;
}
button {
  height: 35px;
}
#logo {
  display: block;
  margin: auto;
}

.center-box {
  margin: auto;
}
