.signup_login_container{
    max-width: 550px;
}

.message-box{
    height: 10rem;
    overflow-y: scroll;
}

.btn-new-account{
    background-color: #4f4aa6; 
    margin-left: 25%;
}

/* @media screen and (max-width:991px) {
   .signup_login_container{
        position: fixed;
        top: 7%;
        left: 50%;
        transform: translateX(-50%);
        z-index: -999;
   }
} */