.question-box {
  width: 250px;
  height: 130px;
  margin-bottom: 20px;
  text-align: center;
  background-color: rgb(235, 235, 235);
  position: relative;
}
.question-text {
  position: absolute;
  top: 38%;
  right: 44%;
}

.gameset {
  margin-right: 45px;
  position: relative;
}
